@mixin clearfix(){
	&:after{
		content: " ";
		display: table;
		clear:both;
	}
}

* {
	box-sizing: border-box;
}

body{
	margin-top: 51px;
}

h4,h5 {
	color:#AD8B6D;
}

.container{
	margin:0;
	padding:0;
	width:100%;	
}

.block-select{
	display: block;
	width: calc(100% - 30px);
	margin:0;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: #DFE0E2;
}

.navbar {
	background-color: #5E8860;
	border-color: #5E8860;
}

.col-lg-9{
	//height:100%;
	border-color: black;
}

.col-lg-3{
	//height: 100%;
	background-color: #D9D1B8;
	padding-top: 50px;
}

.panel {
	border-radius: 8px;

}

.panel-heading {
	border-radius: 8px 8px 0 0;
}

.btn-circle {
	border-radius: 30px;
	color:#AD8B6D;
	margin-right: 5px;
}

.btn-delete-circle {
	border-radius:50%;
	height:20px;
	width:20px;
	font-size: 12px;
	line-height: 42%;
}

.btn-add-circle {
	border-radius:50%;
	height:20px;
	width:20px;
	font-size: 12px;
	line-height: 42%;

}

.btn-active, .btn-active:focus {
	background-color: #AD8B6D;
	color: white;
	border-color: gray;

}

.title{
	width: calc(100% - 25px);
}


#day-title {
	text-align: center;
	border: solid 1px #5E8860;
	border-radius: 6px;
	padding: 4px;
	color: #5E8860;
}

#map {
	height: 110vh;

}


// 59302D